

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
  background: url('https://c1.staticflickr.com/8/7686/17094730967_2dcd26e662.jpg') ;
}

.jumbotron-about {
  background: url('https://c1.staticflickr.com/6/5448/7203961392_488357f30a_b.jpg') ;
}
.jumbotron p, h1, h2 {
color: gold;
text-shadow: 2px 2px black;

}
+.sample-column {
 +  border: solid 1px black;
 +  text-align: center;
 +} ;
