

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
background: url('https://c1.staticflickr.com/7/6069/6150174250_679e3411c4_b.jpg') ;
background-size:cover;
}
.jumbotron p {
color: white;
text-shadow: 2px 2px black;
background-color: rgba(0, 0, 0, 0.5);
}
