

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
background: url('https://c1.staticflickr.com/8/7686/17094730967_2dcd26e662.jpg') ;

}
.jumbotron p {
color: white;
text-shadow: 2px 2px black;

}
+.sample-column {
 +  border: solid 1px black;
 +  text-align: center;
 +} ;
